@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
  --space-mono: "Space Mono", monospace;
  --poppins:"Poppins", sans-serif;
  --tan:#d6cbbc;
  --teal:#36565f;
  --dark-teal:#2b454c;
  --gray:#31302a;
  --light-tan:#eeeae4;
}
@media (min-width: 992px) {
  .jw-container {
    max-width: 60%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--space-mono);
  font-weight: 400;
  font-style: normal;
  padding: 12px 0px 12px 0px;
}
body {
  background-color: var(--gray);
  color: var(--light-tan);
  font-family: var(--poppins);
  font-weight: 400;
  font-style: normal;
}
.janeway_and_fulcrum {
  padding: 30px 0px 30px 0px;
  border-bottom: #d6ccbc 2px solid;
}
.text-block {
  padding: 30px 10px 30px 10px;
}
.teal-text-block {
  background-color: var(--teal);
}
.tan-text-block {
  background-color: var(--tan);
  color: #31302a;
}
.img-partnership {
  max-height: 240px;
}
a {
  color: white;
}

.btn-teal {
  background-color: var(--teal);
  color: white;
}
.btn-teal:hover {
  background-color: var(--dark-teal);
  color:white;
}